/* footer { */
    clear: both;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    margin-top: 550px;
}

#section {
    margin-left: 4%;
    margin-right: 4%;
}

.row{
    margin-left: 10%;
}

.form-control {
    height:50%;
}

.form-group {
    margin: 3%;
}

.submittal {
    margin: 3%;
}

.col-md-3 {
    margin:3%;
    padding: 3%;
}

.section {
    margin-bottom: 5%;
    margin-right: 8%;
    padding:5%;
}


body{
    background:url(https://www.goodfreephotos.com/albums/united-states/tennessee/great-smoky-mountains-national-park/mountains-and-hills-landscape-at-great-smoky-mountains-national-park-tennessee.jpg) repeat;
}

.jumbotron-fluid {
    border-bottom: 1px solid #303030;
    background-color: #2E4A62;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 a {
     color: #303030;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: bold;
 }

 navbar {
    border-bottom: 1px solid #303030;
    padding-bottom: 3%;
 }

 .social-networks {
    background-color: #2E4A62; 
 }
 
 .col-md-6 {
    border: 1px solid #303030;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
    padding: 3%;
    color: #303030;
    }

.profileimage {
   padding: 5%;
}

.card {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10% auto;
    font-size: 120%;
}
.form-group {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}